body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #31363F;
}

#container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    border: 0.1px solid #000
}

.row {
    display: flex;
    width: 100%;
    height: 100%; 
}

.col {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

#btn {
    margin-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
    border: 4px solid #76ABAE;
    border-radius: 5px;
}